
{% extends "base.html" %}

{% block title %}管理员主页{% endblock %}

{% block content %}
<h1 class="text-center">欢迎，管理员 {{ user.username }}</h1>
<div class="container mt-4">
    <div class="row">
        <!-- 第一行：个人信息 -->
        <div class="col-md-12 text-center mb-3">
            <a href="{% url 'user:admin_employee_list' %}" class="btn btn-primary btn-lg w-100">
                查看/修改员工信息
            </a>
        </div>
    </div>
    <div class="row">
        <!-- 第二行：申请请假和请假记录 -->
        <div class="col-md-6 text-center mb-3">
            <a href="{% url 'user:manage_attendance_settings' %}" class="btn btn-primary btn-lg w-100">
                设置上下班时间
            </a>
        </div>
        <div class="col-md-6 text-center mb-3">
            <a href="{% url 'user:manage_attendance' %}" class="btn btn-primary btn-lg w-100">
                员工考勤记录
            </a>
        </div>
    </div>
    <div class="row">
        <!-- 第三行：签到/签退和考勤记录 -->
        <div class="col-md-12 text-center mb-3">
            <a href="{% url 'user:manage_leave_requests' %}" class="btn btn-primary btn-lg w-100">
                查看/审批员工请假
            </a>
        </div>
    </div>
</div>
{% endblock %}
