<!-- profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>员工个人信息</title>
</head>
<body>
    <h1>个人信息</h1>
    {% if user.employee_profile %}
    <!-- 显示员工信息表单 -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">保存修改</button>
        </form>
    {% else %}
        <p>没有找到您的员工信息，请联系管理员创建。</p>
    {% endif %}
</body>
</html>
